<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="MyApplication" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB10lEQVQ4T2NkwAG0tbV5Wlpa3jIzM7NVVlbyXr169Qs2pYxogqxr1qy5xMbGprFulT7D6VMyDPdfbmDIzeBnsLb+xvD379+306ZN09u9e/czmD6wAStWrNjMxcXlc/qEHMO6NbpgOUZGiNn3XqxHsaMkn4/BxOQ7w69fv26EhIRoglV5urz7/+gRP1whTDM2A2CKfDxEGFattIdYU5R/7f/O7epwW0FiR05+AquVkt+LNZSqyngZaqrdIAZMnHD0/6xpFiQZMGsKB0NMrDfEgFWrtv1vrHEnyYAVi1kZ/Pz8IAasX7/+c025Hw+y3wl5AcWA1atX322oDlIixYClC5h+BQYGsoNd0N7e3rFkflk5NgOePYNEuYnldZTAXDT3PyIag4ODA25cXrWeFAOK8y60NDc314JdYGNjI/j/1853Hz9yYkQZekICpxs3EYZ/fya4rV+/fjc8KW/atOn/vJnmDLdvi+BNiRVFvAwGhj/AMQBOschWOjs7C+fn579pqnVj+P6dFSwFygsgYG8jypCZ/oFh+vTp/Nu3b4ekMnQDYIL9/ROzlZSUplSXeTHce7GBARRlhw4dsurp6TmO7kf03Igiv3Llymf379/vqaio6MOanoGCANHwxhHgTxy1AAAAAElFTkSuQmCC" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="application/xhtml+xml; charset=utf-8" http-equiv="content-type" />
    <title>Angular.Less Demo</title>
    <script type="application/javascript" src="js/prefixfree.min.js"></script>
    <script type="application/javascript" src="js/prefixfree.dynamic.min.js"></script>
    <script type="application/javascript" src="js/less.min.js"></script>
    <script type="application/javascript" src="js/angular.min.js"></script>
    <script type="application/javascript" src="../angular.less.js"></script>
    <script type="application/javascript">angular.module("MyApplication", ["$Less"])</script>
    <style type="text/css">
      .main-content {
        opacity: 0;
        transition: opacity .5s linear;
      }
    </style>
  </head>
  <body>
    <div class="page-header">
      <h1 class="project-name">Angular.Less Demo</h1>
      <p class="project-tagline">Press to the button for the switching state of <code>ng-include</code> page that contains link-tags to the <code>Less</code> files</p>
      <button ng-model="manual" ng-click="manual=!manual" class="btn">Click Me!</button>
    </div>
    <div ng-if="manual" ng-include="'manual.html'" class="main-content"></div>
  </body>
</html>